# Configuration file for the Nginx server
# Make a soft link to this file at /etc/nginx/sites-enabled/

# Define an upstream server named gunicorn on localhost port 8000
upstream gunicorn {
    server localhost:8000;
}

# Make an nginx server
server {
    # listen on port 80
    listen 80;

    # For requests to these domains
    server_name 54.165.212.2.com www.54.165.212.2.com;

    # Look in this directory for files to serve
    root /var/www/;

    # Keep logs in these files
    access_log /var/log/nginx/knowu.access.log;
    error_log /var/log/nginx/knowu.error.log;

    # You need this to allow users to upload large files
    client_max_body_size 0;

    # This tries to serve a static file at the requested url
    # if no static file is found, it passes the url to gunicorn
    try_files $uri @gunicorn;

    # Define rules for gunicorn
    location @gunicorn {
        client_max_body_size 0;

        # Proxy to the gunicorn upstream defined above
        proxy_pass http://gunicorn;

        # Makes sure the URLs don't actually say http://gunicorn
        proxy_redirect off;

        # If gunicorn takes > 5 minutes to respond, give up
        proxy_read_timeout 5m;

        # Make sure these HTTP headers are set properly
        proxy_set_header Host            $host;
        proxy_set_header X-Real-IP       $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
